/**
@font-face{
	font-family: DFPShaoNvW;
	src:url(http://www.uichange.com/font/xjl.ttf);
}
*/
img{
	border: 0;
}

body{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

a{
	text-decoration: none;
}

.pagination {
    padding: 5px;
    float: right;
}

.pagination a, .pagination a:link, .pagination a:visited {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #006699;
}

.pagination a:hover, .pagination a:active {
    border: 1px solid #006699;
    color: #000;
    text-decoration: none;
}

.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #006699;
    font-weight: bold;
    background-color: #006699;
    color: #FFF;
}

.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
}




.dk_item_more a{
    font-size: 18px;
}
.dk_item_left{
    background: url(http://img.m.baidu.com/cimages/img/679/679.png) no-repeat 50% 50%;
    width: 50px;
    height: 50px;
    display: block;
}
.dk_item_left img{
    width: 50px;
    height: 50px;
}
/*** slider ***/
#dk_game_slider{
    height: 120px;
    overflow: hidden;
    -webkit-user-select: none;
}
#dk_game_slider img{
    width: 320px;
}
.ui-slider {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}
.ui-slider-wheel {
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 0ms;
}
.ui-slider-wheel a {
    text-decoration: none !important;
}
.ui-slider-group {
    height: 100%;
    float: left;
}
.ui-slider-item {
    height: 100%;
    width:100%;
    text-align: center;
    position: absolute;
    top:0;
    z-index: 98;
}
.ui-slider-lazyload {
    width: 100%;
    height: 100%;
}
.ui-slider-items-dots {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    text-align: center;
}
.ui-slider-items-dots b {
    display: inline-block;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #3A3939;
    box-shadow: inset 0 2px 0 #17191C, inset 0 -1px 0 #61687C;
    -webkit-box-shadow: inset 0 2px 0 #17191C, inset 0 -1px 0 #61687C;
}
.ui-slider-items-dots .ui-slider-dot-select {
    background: #71BEFE;
    box-shadow: inset 0 2px 0 #AAD4F2;
    -webkit-box-shadow: inset 0 2px 0 #AAD4F2;
}
.dk_item_continer>.dk_item_mid:not(:last-of-type){
    margin-right: 60px;
}
.dk_item_mid>.g_title{
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dk_item_mid>.g_star{
    line-height: 13px;
}
.dk_item_mid>.g_detail{
    line-height: 20px;
}
[data-active].active1{
    background-color: #c5e7f9;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
.active3 .dk_a_normer_btn,.active3.dk_a_normer_btn{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0E8AD5),to(#23A5D3));
}
.dk_item_continer{
    position: relative;
}
.dk_item_continer>.dk_item_right{
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 73px;
    text-align: center;
    overflow: hidden;
}
.dk_item_continer>.dk_item_right p{
    line-height: 73px;
}
.dk_btn_right{
    position: absolute;
    top: 0;
    right: 0;
    padding: 36px 10px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    text-align: center;
}
.dk_download_header img{
    float: none;
}
.dk_download_header>table{
    width: 100%;
    table-layout: fixed;
}
.dk_download_header>table td{
    text-align: left;
    vertical-align: middle;
}
.dk_download_header>table td:first-of-type{
    width: 88px;
}
.dk_download_header .dk_header_detail{
    overflow: hidden;
}
.dk_download_header .dk_header_detail>*{
    line-height: 1.5 !important;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.dk_download_header .dk_header_detail>.dk_game_name{
    font-size: 18px;
    color: #000;
    text-overflow: ellipsis;
}
.dk_div_continer>p.dk_game_description{
    position: relative;
    line-height: 25px;
}
p.dk_game_description[data-limited]{
    max-height: 75px;
    overflow: hidden;
}
p.dk_game_description>.dk_trig_blue_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3em;
    height: 25px;
    text-align: right;
    background-color: #fff;
}
.dk_btn_right>.dk_game_down_btn{
    padding: 10px 20px;
}
.dk_game_logo_img{
    margin: 10px 9px;
}
.dk_nav_back_blue_title_bar{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.dk_nav_back_blue_title_bar *{
    text-decoration: none;
}
.dk_nav_back_blue_title_bar>a:first-of-type,.dk_nav_back_blue_title_bar>a:last-of-type{
    background-image: url(http://img.m.baidu.com/cimages/img/1325/1325.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 100%;
    display: table-cell;
}
.dk_nav_back_blue_title_bar>a:first-of-type{
    background-position: -60px 0;
}
.dk_nav_back_blue_title_bar>a.active4:first-of-type{
    background-position: 0 0;
}
.dk_nav_back_blue_title_bar>a:last-of-type{
    background-position: -180px 0;
}
.dk_nav_back_blue_title_bar>a.active4:last-of-type{
    background-position: -120px 0;
}
.dk_panel_grad,.dk_panel_grad_notop{
    padding: 0 10px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F6F9FB),to(#D0E1EA));
}
.dk_download_header{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#EAEAEA));
}
.active5{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#B0B0B0),to(#D2D3D3)) !important;
}
.dk_item_to_top>a{
    border-width: 2px 1px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#E1E1E1));
}
.dk_item_to_top>a.active6{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#E1E1E1),to(#FEFEFE));
}
.dk_item_more{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#DEDEDE));
}
.dk_gameheader #dk_header_switch{
    top: 0;
    right: 0;
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAwEAQAAAAUj2sHAAAAAmJLR0T//xSrMc0AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAGLSURBVHja7dgxqoNAFAVQQRAEwdbW1jUIgpWtrbsRXEDAfWQHLkDIDgKpBEEIWFkJ9xfzQfLVBJXkzQ/3lA5v5k6ezBANg4iIiIiIiIiIiIiI6AkgioC6xm51DUSRXP4sA4Zhf/5hALJMsAFtC5xOgG1vr7VtVdu2cvnv9+P5u04qv6HeAsfZX+84AMD8BzbwfNz3Ad8/Modk/k/N8ZbFActSZ/zlAliWjhv48gaU5XRZlaWOG/i7NlAUry/eotAl/+riQJrOg6fpljkk8gOmCVTV+o9fVYBp6pJ/cXF17vf9PHzfL90HOjVAPfM8oOvm+bsO8Dyd8i+8QZalzvw18/tAtwao53EMjOOUexyBON4yh8gGHs/9NY/3gY4NUGN5PmXO8z1ziG7gk3O8Y+3pPpif+7rk/+oGqHHPWzr3dcn/+0/SdffXu650A/5zfgNoGuB8BoJge20QqNqmkct/ux3Pf71K5TeAJFEf5PZqWyBJ5PKH4fGvuWEo1gAiIiIiIiIiIiIiIiJ67Qcw7kqwSAjcoAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: -48px 0;
}
.dk_gameheader.expanded #dk_header_switch{
    background-position: 0 0;
}
.dk_gameheader.expanded #dk_header_switch,#dk_header_switch.active7{
    background-color: #025399;
}
#dk_header_channel{
    display: none;
}
.dk_gameheader.expanded #dk_header_channel{
    display: block;
}
.dk_game_ranknav{
    margin: 10px 13px;
    text-align: center;
}
.dk_game_ranknav ul {
    width: 100%;
    list-style: none;
    height: 32px;
    display: table;
}
.dk_game_ranknav li{
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #0085D6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#00AFED),to(#0085D6));
}
.dk_game_ranknav li.active8,.dk_game_ranknav li.selected{
    color: #055FA8;
    border: 1px solid #D3D3D3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#EBE9E9));
}
.dk_game_ranknav li:first-of-type{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dk_game_ranknav li:not(:first-of-type){
    border-left: none;
}
.dk_game_ranknav li:last-of-type{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dk_header_game_nav{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.dk_header_game_nav>ul{
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #0492E1;
    border-bottom: 2px solid #EFF0EF;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAIAAACw1AcgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpiYFj/lonh/38mBgYGIM2AyUYR+48pDqeR2P/QxP79h+D/6DQDgo/NnP8MAAEGAKCTPKoPQQ/uAAAAAElFTkSuQmCC);
    background-size: 100% 100%;
}
.dk_header_game_nav>ul>li{
    display: table-cell;
    border-width: 0 1px;
    line-height: 36px;
    height: 39px;
    -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAoCAIAAABb47wjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH5JREFUeNpMkNsVQyEIBJf19t9KKksDPiALmJz4M2dWRNTwegN4ECEQtWQJUnRnpsKA4SQC5/AxYP+ZNdq68trQ8QpRx+02Q7f+3RDBHCI0hKOQq8OcLDr0+IZpvXeOYFwCybU9Z59tcwVsyFwVnDsSq60qjRLhfsF9+0eAAQC2llx4YUb8RQAAAABJRU5ErkJggg==) 0 1 0 1 stretch;
}
.dk_header_game_nav>ul>li>span{
    margin: 3px 1px 0;
    border-radius: 5px 5px 0 0;
    display: block;
    text-shadow: 0 1px 1px #1664B7;
}
.dk_header_game_nav>ul>li.active9>span,.dk_header_game_nav>ul>li.navactive>span{
    color: #009FE9;
    text-shadow: 0 1px 1px #FFFFFF;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#EFEFEF));
}
.invisible{
    visibility: hidden;
}
.invisible *{
    -webkit-transition-property: none !important;
    visibility: hidden !important;
}
#docanchor{
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}
#dk_game_topics{
    margin: 0;
    padding: 0;
}
#dk_game_topics>ul{
    border: none;
    margin: 0;
    padding: 0;
}
#dk_game_topics>ul>li{
    list-style: none;
    border-bottom: 1px solid #A9C5D7;
    height: 70px;
    padding: 8px;
}
#dk_game_topics>ul>li>div:first-of-type{
    padding: 4px;
    float: left;
    margin-right: 8px;
    border: 1px solid #E2E2E2;
}
#dk_game_topics>ul>li>div:first-of-type>img{
    width: 90px;
    height: 60px;
    display: block;
}
#dk_game_topics>ul>li>div:last-of-type{
}
#dk_game_topics>ul>li>div:last-of-type>div{
    overflow: hidden;
}
#dk_game_topics>ul>li>div:last-of-type>div:first-of-type{
    color: #000;
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#dk_game_topics>ul>li>div:last-of-type>div:last-of-type{
    line-height: 20px;
    height: 40px;
}
#dk_header_channel a{
    color: white !important;
}
footer.dk_game_footer{
    color: #ddd;
    vertical-align: middle;
    text-align: center;
}
footer.dk_game_footer>nav{
    padding: 15px 0;
    font-size: 16px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #009dec;
}
footer.dk_game_footer>nav>a{
    color: #666;
    font-size: 14px;
    padding: 0 8px;
}
footer.dk_game_footer>.dk_copyright{
    color: #666;
    font-size: 12px;
    padding: 10px 0;
}
.dlbtns{
    display: -webkit-box;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.dlbtns>a{
    display: block;
    -webkit-box-flex: 1;
    -webkit-border-radius: 5px;
    padding: 1px;
}
.dlbtns>a>span{
    color: #fff;
    display: block;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
}
.dlbtns>a>span:before{
    display: inline-block;
    line-height: 32px;
    text-indent: 32px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 24px 24px;
}
.btn-dl1{
    margin-right: 10px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4AB5DC), to(#46A0D5));
}
.btn-dl1>span{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#33C2F5), to(#219EE9));
}
.btn-dl1>span:before{
    content: "普通下载";
    background-image: url(http://img.m.baidu.com/cimages/img/2669/2669.png);
}
.btn-dl1-a{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#418EC7), to(#417FC2));
}
.btn-dl1-a>span{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0EA7DE), to(#0E7FC3));
}
.btn-dl2{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFBA00), to(#DD7E02));
}
.btn-dl2>span{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFCB00), to(#EB8B00));
}
.btn-dl2>span:before{
    content: "高速下载";
    background-image: url(http://img.m.baidu.com/cimages/img/2670/2670.png);
}
.btn-dl2-a{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#D99E00), to(#BD6C00));
}
.btn-dl2-a>span{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#E8B900), to(#C97700));
}
.cldwn{
    display: inline-block;
    border: none;
    width: 96px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    margin: 10px;
    color: white;
    background-image: url(http://img.m.baidu.com/cimages/img/2612/2612.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 56px;
    background-size: 100% 56px;
    text-indent: 28px;
    font-size: 12px;
    vertical-align: top;
}
.cldwnon{
    background-position: 0 -28px;
}
.olgbtn{
    display: block;
    background-image: url(http://img.m.baidu.com/cimages/img/2701/2701.jpg);
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: 4px;
    color: white !important;
    -webkit-text-fill-color: white;
    line-height: 52px;
    font-size: 18px;
    -webkit-border-radius: 4px;
}
.olgbtn_down{
    -webkit-box-shadow: inset 0px 52px 1px rgba(0,0,0,0.2);
}
#dk_searchbar{
    display: -webkit-box;
    padding: 0 10px 6px;
    background: #009FE9;
}
#dk_searchbar.result{
    background: #f4f4f4;
    padding: 10px 6px;
    border-bottom: 1px solid #dedede;
}
header.expanded>#dk_searchbar{
    padding-top: 6px;
}
#dk_searchbar>div{
    padding: 0 10px;
    font-size: 14px;
    -webkit-border-radius: 4px;
}
#dk_searchbox{
    height: 34px;
    display: -webkit-box;
    -webkit-box-flex: 1;
    background: #fff;
    margin-right: 5px;
    -webkit-box-align: center;
    -webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.3);
}
#dk_searchbox>input,#dk_searchbox>input:focus{
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    display: block;
    line-height: 1;
    background: transparent;
    -webkit-appearance: none;
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#dk_searchbtn{
    color: #333;
    line-height: 34px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e0e0e0));
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}
#dk_searchbtn.dk_searchbtn_on{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e0e0), to(#fff));
}
#dk_searchbtn>img{
    width: 18px;
    margin: -2px 4px 0 0;
    vertical-align: middle;
}
.notfound{
    line-height: 1.6;
    color: #000;
    font-size: 16px;
    height: 150px;
    padding: 10px;
}